<div class="restaurant-container">
  <div class="search-container">
    <div class="d-flex align-items-center search-box">
      <!-- Search Icon -->
      <span
        class="input-group-text bg-white border-none"
        style="user-select: none; cursor: default; border: none"
        tabindex="-1"
      >
        <i class="cil-magnifying-glass search-icon"></i>
      </span>
      <input
        type="text"
        class="form-control search-input"
        style="user-select: none"
        placeholder="Search By Restaurant Name...."
        [(ngModel)]="searchText"
        (keyup.enter)="onSearch()"
      />
      <span
        *ngIf="searchText"
        class="input-group-text bg-white border-none"
        style="user-select: none; cursor: pointer; border: none"
        tabindex="-1"
        (click)="clearSearch()"
      >
        <i class="cil-x search-cancel-icon"></i>
      </span>
    </div>
    <button class="btn submit-btn" (click)="onSearch()">Search</button>
  </div>

  @if (filteredItems && filteredItems.length > 0) {
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let restaurant of filteredItems">
      <div class="restaurant-div card h-100">
        <img
          [src]="restaurant.imageUrl"
          [alt]="restaurant.name"
          class="card-img-top"
          style="height: 20vw"
        />

        <div class="card-body">
          <div class="name-rating-div d-flex justify-content-between align-items-center">
            <div class="restaurant-name">{{ restaurant.name }}</div>
            <div class="rating-div">
              <span class="rating-star">{{ restaurant.rating.toFixed(1) }} ★</span>
            </div>
          </div>

          <div class="cuisine-container mt-2">
            <span class="badge me-1 cuisine" *ngFor="let cuisine of restaurant.cuisines">
              {{ cuisine }}
            </span>
          </div>

          <div class="category-div mt-2">
            @if (restaurant.veg) {
            <span class="badge bg-success category">Vegetarian</span>
            } @if (restaurant.nonVeg) {
            <span class="badge bg-danger category">Non Vegetarian</span>
            }
          </div>
        </div>

        <div class="card-footer text-center button-container">
          <button class="book-table">Book Table</button>

          <button class="order-now">Order Now</button>
        </div>
      </div>
    </div>
  </div>
  } @else{
  <div class="no-data-container">
    <span
      class="input-group-text bg-white border-none"
      style="user-select: none; cursor: default; border: none"
      tabindex="-1"
    >
      <i class="cil-ban ban-icon"></i>
    </span>
    <div class="no-data-div" style="user-select: none; cursor: default; border: none">
      No Data Found
    </div>
  </div>
  }
</div>
